
streamlit==1.25.0

gspread==5.10.0
oauth2client==4.1.3


pandas==2.0.3
pillow
numpy



streamlit==1.25.0



openai==0.28.0
python-dotenv==1.0.0


# Calendar integration requirements
google-api-python-client==2.107.0
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.1.0



